header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: blue; 
 font-size: 25px;
}

body {
 font-family: Futura, Trebuchet MS;
 font-weight: condensed;
 color: blue; 
 font-size: 15px;
}

#content {
    padding:3px;
}
#WPI{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
   display: block;
   text-decoration: none; /* remove underline */
   border-radius: 10px;  /* rounded corners */
   margin: 6px;
   padding: 9px;
   color: #222;
   font-weight: bold;

   /* nice gradient shade on the buttons */
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

   border: 1px solid #666; /* dark outline */
}
nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

footer {
 font-family: Futura, Trebuchet MS;
 font-weight: condensed;
 color: blue; 
 font-size: 15px;
}

video {
 	/* add your style definitions here */
  font-family: Futura, Trebuchet MS;
 font-weight: condensed;
 background-color: blue;
 color: red; 
 font-size: 15px;
 /*tansitions applied to the video element */
 	-moz-transition: all 1s ease-in-out;
 	-webkit-transition: all 1s ease-in-out;
 	-o-transition: all 1s ease-in-out;
 	-ms-transition: all 1s ease-in-out;
 	transition: all 1s ease-in-out;
}

audio {
  font-family: Futura, Trebuchet MS;
 font-weight: condensed;
 color: red; 
 font-size: 15px;
}

button.back{
 /*These lines override the previous styling of buttons*/
border-image: url("greyButton.png");
background: url("greyButton.png");
background-size: cover;
width:60px;
height: 30px;
 
/*These lines position the back button inside the header*/
position:absolute;
left:16px;
top:8px; }

header.secondary{   
padding-left: 75px;
}

button {
 /*center the button*/
display: block;
margin-left: auto;
margin-right: auto;
 
/* add your code to set top and bottom margins */
 
/*add an image to your button*/
border-image: url("orangeButton.png");
background: url("orangeButton.png");
background-size: cover;

/*set width and height for the button*/
}
